@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');

body {
    margin: 0;
    padding: 0;
    color: rgb(209, 27, 27);
    font-family: 'amatic sc', sans-serif;
}